.button {
  all: unset;
  background-color: var(--mint-bliss);
  color: var(--midnight-plum);
  padding: 15px 25px;
  cursor: pointer;
  font-family: Manrope, sans-serif;

  &:hover {
    background-color: var(--midnight-plum);
    outline: 1px solid var(--mint-bliss);
    color: var(--mint-bliss);
  }
}
